<!--
    MONO
    Copyright (C) 2015  Universidad de los Andes
  
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
  
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<%= form_for(@proceso) do |f| %>
  <% if @proceso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proceso.errors.count, "error") %> prohibited this proceso from being saved:</h2>

      <ul>
      <% @proceso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :tipo_plantilla_id %><br />
    <%= f.number_field :tipo_plantilla_id %>
  </div>
  <div class="field">
    <%= f.label :proyecto_id %><br />
    <%= f.number_field :proyecto_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
